<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daftar Produk</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="daftar-produk-body">
    <%- include('layout/sidebar') %>
    <h1 class="daftar-produk-title">Daftar Produk</h1>
   <table class="daftar-produk-table">
    <thead>
        <tr>
            <th>Gambar</th>
            <th>Nama</th>
            <th>Harga</th>
            <th>Stok</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% produkList.forEach(produk=>{%>
            <tr>
                <td>
                    <img src="/image/<%= produk.Gambar %>" alt="Foto Produk" width="100" height="100">
                </td>
                <td>
                    <%= produk.NamaProduk %>
                </td>
                <td>
     Rp <%= produk.Harga.toLocaleString() %>
                </td>
                <td>
                    <%= produk.Stok.toLocaleString() %>
                </td>
                <td>
                    <div class="daftar-produk-actions">
                        <a href="/produk/edit/<%= produk._id %>" class="action-button-daftar-produk-edit">Edit</a>
                        <a href="/produk/delete/<%= produk._id %>" class="action-button-daftar-produk-delete">Hapus</a>
                    </div>    
                </td>
            </tr>
        <% }); %>
    </tbody>
   </table>
</body>
</html>
